<script setup lang="ts">
import { computed } from 'vue'
const props = defineProps(['meta'])

const sourceLink = computed(() => {
  return `https://gitlab.com/maniascript/mslint/-/blob/main/src/lib/rules/${props.meta.name}.ts`
})
const testLink = computed(() => {
  return `https://gitlab.com/maniascript/mslint/-/blob/main/test/lib/rules/${props.meta.name}.test.ts`
})
</script>

<template>
  <ul>
    <li><a :href="sourceLink" target="_blank" rel="noreferrer">Rule source</a></li>
    <li><a :href="testLink" target="_blank" rel="noreferrer">Test source</a></li>
  </ul>
</template>
