<script setup lang="ts">
defineProps(['meta'])
</script>

<template>
  <p>{{ meta.description }}</p>
  <div v-if="meta.recommended" class="info custom-block">
    <p class="custom-block-title">INFO</p>
    <p>☑️ The <a href="/guide/configuration-file#using-predefined-configurations">predefined configuration</a> <code>"mslint:recommended"</code> enables this rule.</p>
  </div>
</template>
