/**
 * Colors Theme
 *
 * Each colors have exact same color scale system with 3 levels of solid
 * colors with different brightness, and 1 soft color.
 *
 * - `XXX-1`: The most solid color used mainly for colored text. It must
 *   satisfy the contrast ratio against when used on top of `XXX-soft`.
 *
 * - `XXX-2`: The color used mainly for hover state of the button.
 *
 * - `XXX-3`: The color for solid background, such as bg color of the button.
 *    It must satisfy the contrast ratio with pure white (#ffffff) text on
 *    top of it.
 *
 * - `XXX-soft`: The color used for subtle background such as custom container
 *    or badges. It must satisfy the contrast ratio when putting `XXX-1` colors
 *    on top of it.
 *
 *    The soft color must be semi transparent alpha channel. This is crucial
 *    because it allows adding multiple "soft" colors on top of each other
 *    to create a accent, such as when having inline code block inside
 *    custom containers.
 * -------------------------------------------------------------------------- */
:root {
  --vp-c-brand-1: #009b5f;
  --vp-c-brand-2: #00c278;
  --vp-c-brand-3: #30a46c;
  --vp-c-brand-soft: #10b98124;
}

.dark {
  --vp-c-brand-1: #6efaa0;
  --vp-c-brand-2: #009b5f;
  --vp-c-brand-3: #005f46;
  --vp-c-brand-soft: #10b98129;
}

/**
 * Component: Home
 * -------------------------------------------------------------------------- */
:root {
  --vp-home-hero-image-background-image: radial-gradient(circle, var(--vp-c-brand-1) 0%, var(--vp-c-brand-3) 100%);
  --vp-home-hero-image-filter: blur(200px);
}
